<section class="example">
  <div class="example__container container">
    <h2 class="example__title">{{ title }}</h2>
    <p class="example__text">{{ text }}</p>

    <dl class="example__list">
      <div class="example__item">
        <dt class="example__key">снижение веса</dt>
        <dd class="example__value">{{ kg }} кг</dd>
      </div>
      <div class="example__item">
        <dt class="example__key">затрачено времени</dt>
        <dd class="example__value">{{ days }} дней</dd>
      </div>
      <div class="example__item-alter">
        <dt class="example__expenses">Затраты на питание:</dt>
        <dd class="example__expenses">{{ cost }} руб.</dd>
      </div>
    </dl>

    {% include 'comparator.twig' with { className: 'example__comparator', pictures } %}
  </div>
</section>
